<ion-content class="login-content" padding>
  <ion-card>
    <ion-img src="/assets/bc-logo-en.svg"></ion-img>
    <ion-card-content>
      <!-- <ion-card-header>
        Some info goes here
      </ion-card-header> -->
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Username</ion-label>
          <ion-input placeholder="johndoe55" #usernameInput></ion-input>
        </ion-item>
      </ion-list>

      <div text-center>
        <ion-button size="large" (click)="login(usernameInput.value)">
          <span *ngIf="!authService.fetching">Log in</span>
          <ion-spinner *ngIf="authService.fetching"></ion-spinner>
        </ion-button>
      </div>


    </ion-card-content>
  </ion-card>
</ion-content>